# Dataset manipulation
datasets
pandas
fsspec==2024.10.0

# Tokenization
nltk
spacy
scikit-learn
gensim

# Coherence score and LDA Topic Modeling
matplotlib
numpy


# Visualizations
seaborn
wordcloud
